HelloWorld/HelloStateFul/bin/
HelloWorld/HelloStateFul/obj/
HelloWorld/packages/
HelloWorld/HelloWorld/pkg/Debug/
HelloWorld/HelloStateless/obj/
HelloWorld/HelloStateless/bin/
HelloWorld/HelloWorld/obj/
